ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .recover-password-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  
    ion-item {
      margin-bottom: 16px;
    }
  
    ion-note {
      font-size: 12px;
    }
  
    ion-button {
      width: 100%;
    }
  
    .ion-margin-top {
      margin-top: 16px;
    }
  }
  