ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  
    ion-item {
      margin-bottom: 16px;
    }
  
    ion-icon {
      cursor: pointer;
      margin-right: 12px;
    }
  
    ion-button {
      width: 100%;
    }
  
    ion-note {
      font-size: 12px;
    }
    
    .ion-margin-top {
      margin-top: 16px;
    }
  
    ion-button[color="light"] {
      color: blue;
    }
  }
  
  